/* If you want the content centered horizontally and vertically */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

/* Style the image inside the centered container, if needed */
.centered img {
  width: 150px;
  border-radius: 50%;
}

.leftside {  
 height: calc(100vh - 63px);
 margin-bottom: 0;
 overflow:hidden;

}
.leftside .text {
  position: absolute;
  top: 60%;
  left: 20%;
  font-size: 2em;
}
.leftside .text a {
  color: #fff;
  display: block;
}
.rightside { 
  height: calc(70vh - 63px);
  margin-bottom: 0;
  overflow:hidden;

}
.row-full > [class*='col-'] {
  padding-right: 0;
  padding-left: 0;
}

/* navbar size = 63px, requires padding on body */ 
body { padding-top: 63px; }